# Temp file
*~
.*
*.asv
*.obj

# Exception for wildcard
!.gitignore

# Test folder
data/

# Generated images
*.tif*
*.bmp

# Generated binaries
*.mex*

# Unwanted directories
deskew_deprecate/
postproc_rev2/
class_test/
Unstructured\ Code\ Repository/
